@page
@model administracionSolicitudesLaDat.Pages.PrincipalModel
@{
    ViewData["Title"] = "Página Principal";
}

<h1 class="display-4">¡Bienvenido a tu Panel!</h1>
<p class="lead">Esta es una pantalla inicial con un panel de menú lateral.</p>


