@page
@model administracionSolicitudesLaDat.Pages.SuccessModel

@{
    var redireccion = "/";
    var tiempo = 2; // segundos antes de redirigir
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="@tiempo;url=@redireccion" />
    <title>Redirigiendo...</title>
</head>
<body>
    <p>Iniciando sesión, por favor espera...</p>
</body>
</html>
